/*個人資料*/
.namebg{
    color: white;
    background-color: #7373B9;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 5px #0005;
}

.nametext{
    text-shadow:5px 7px 2px #0005;
}

.selftext{
    margin: 15px 0px 0px 0px;
}

.self{
    margin: 40px 0px 0px 0px;
}

.ema{
  color: #8080C0;
  text-decoration: underline;
  padding: 0px 2%;
}

.ema:hover {
  color: white;
  background-color: #7373B9;
  border-radius: 50px;
}

.aboutmebg{
    background-color: #C7C7E2;
    background-size: cover;
    background-repeat: no-repeat;
}


/*學習經歷*/
a.adalink{
    padding: 0px 10px;
    margin: 0px 5px;
    border-radius: 20px;
    color: #8080C0;
}

a.adalink:hover{
    background-color: #8080C0;
    color: white;
}

div.adadivgray{
    background-color: #D8D8EB;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #C7C7E2;
    width: 95%;
    margin: 10px auto;
}


/*興趣愛好*/
.inline-block {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    border-color: #C7C7E2;
}

.list-group-item{
    width: 145%;
}

.group-item{
    width: 133%;
}

.listcolor{
    background-color: #B8B8DC;
}

.listcoco{
    background-color: #D8D8EB;
}

.intsinger{
    background-color: white;
    width: 80px;
    border-radius: 50px;
    text-align:center;
}

.intvtuber{
    background-color: white;
    width: 130px;
    border-radius: 50px;
    text-transform: capitalize;
    text-align:center;
}

.intphone{
    border-radius: 100px;
}

.intbg{
    background-color: #C7C7E2;
    background-size: cover;
    background-repeat: no-repeat;
}

/*攝影作品*/



/*繪畫作品*/
.adacrop{
    height: 200px;
    overflow: hidden;
    object-fit: cover;
    margin: 10px 5px;
    border-radius: 10px;
}

.drawingbg{
    background-color: #C7C7E2;
    background-size: cover;
    background-repeat: no-repeat;
}


/*即刻聯絡*/
.adacallmebg{
    background-image: url(../assets/phone/13.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


/*通用*/
.seriftext{
    font-family: "Noto Serif TC", serif;
}

.titlebg{
    background-color: #C7C7E2;
    text-align:center;
    width: 250px;
}
